<page-header [title]="''"></page-header>
<nz-card [nzBodyStyle]="{ padding: '18px' }" class="mt-5" style="border-radius: 5px" [nzBordered]="true">
  <div class="row d-flex align-items-center">
    <div class="col-md-6 col-6">
      <h4 class="mb-0 title-page">Liste des ventes</h4>
    </div>
    <div class="col-md-6 col-6 d-flex justify-content-end">
      <button *ngIf="ROLE_ADD" (click)="addVente()" class="d-flex align-items-center" nz-button nzType="primary">
        Vente <i nz-icon nzType="plus"></i>
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-11 filter-rupture">
      <nz-input-group [nzSize]="'small'" style="width: 100%" [nzAddOnAfter]="searchVente">
        <nz-range-picker style="width: 30% !important" #rangePicker [nzRenderExtraFooter]="extraDate"
          [(ngModel)]="venteCriteria.date" (ngModelChange)="onChange($event)"></nz-range-picker>
        <ng-template #extraDate>
          <div class="text-center">
            <button [nzSize]="'small'" (click)="toDay('30J')" nz-button nzType="primary">
              << 30 jours</button>
                <button [nzSize]="'small'" (click)="toDay('7J')" nz-button nzType="primary">
                  << 7 jours</button>
                    <button [nzSize]="'small'" (click)="toDay('HIER')" nz-button nzType="primary">
                      << Hier</button>
                        <button [nzSize]="'small'" (click)="toDay('TODAY')" nz-button
                          nzType="primary">aujourd'hui</button>
          </div>
        </ng-template>
        <span style="width: 20%; display: inline-flex">
          <input placeholder="charcher par référence" [(ngModel)]="venteCriteria.referenceLike" nz-input type="text" />
        </span>
        <nz-select nzPlaceHolder="Chercher par client" nzAllowClear nzShowSearch style="width: 25%"
          [(ngModel)]="venteCriteria.client">
          <nz-option *ngFor="let client of listeOfClients" [nzLabel]="client.name" [nzValue]="client"> </nz-option>
        </nz-select>
        <nz-select nzPlaceHolder="Chercher par commerciale" nzAllowClear nzShowSearch style="width: 25%"
          [(ngModel)]="venteCriteria.commerciale">
          <nz-option *ngFor="let commerciale of listOfCommerciaux" [nzLabel]="commerciale.name" [nzValue]="commerciale">
          </nz-option>
        </nz-select>
      </nz-input-group>
      <ng-template #searchVente>
        <i style="cursor: pointer" (click)="searchGlobal()" class="fal fa-search bg-purple"></i>
      </ng-template>
    </div>
    <div style="padding-right: 3.5rem !important" class="col-md-2 pt-2 text-right">
      <!-- <i (click)="exportData('excel')" style="font-size: 22px; color: magenta; cursor: pointer" class="fal fa-file-excel mr-2"></i>
      <i (click)="exportData('pdf')" style="font-size: 22px; color: green; cursor: pointer" class="fal fa-file-pdf"></i> -->
    </div>
  </div>

  <div *ngIf="filterApplyList.length > 0" class="row pt-2 pb-1">
    <div class="col-md-10">
      <span style="font-weight: 600; color: #1890ff" class="pr-3"> <i class="fal fa-filter"></i> Filtres appliqués :
      </span>
      <nz-tag *ngFor="let filter of filterApplyList; let index = index" (nzOnClose)="deleteFilter(index, filter)"
        [nzMode]="'closeable'" [nzColor]="filter.color">{{ filter.label }} : {{ filter.name ? filter.name : filter.value
        }}</nz-tag>
    </div>
    <div class="col-md-2 text-right">
      <a (click)="deleteAllfilter()" class="pl-0 pr-0" style="color: #e01372; border-bottom: 1px solid" nz-button
        nzType="link">Supprimer les filters</a>
      <i style="color: #e01372" class="fal fa-trash"></i>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-md-12">
      <!-- <span>
        Affichage {{ from }} à {{ to }} de <strong>{{ totalVente }}</strong> ventes
      </span> -->
      <ng-template #datasize>
        <span class="mr-3">
          Affichage {{ from }} à {{ to }} de <strong>{{ totalVente }}</strong> ventes
        </span>
      </ng-template>
      <div class="text-center" *ngIf="listeOfVente.length > 0">
        <span style="font-weight: 600">Total : </span>
        <nz-tag [nzColor]="'green'">{{ somme_ventes | priceFormat }} DH</nz-tag>
      </div>
      <nz-table [nzShowTotal]="datasize" class="pt-1" [nzTotal]="totalVente" [nzFrontPagination]="false"
        [(nzPageIndex)]="firstVente" [nzPageSizeOptions]="[10, 50, 100]"
        (nzPageSizeChange)="currentPageDataChange($event)" [(nzPageSize)]="maxResults" [nzShowPagination]="true"
        nzShowSizeChanger nzOuterBordered [nzLoading]="loading" [nzSize]="'middle'" #basicTable [nzData]="listeOfVente"
        (nzQueryParams)="sort($event)" [nzScroll]="{ x: '800px' }">
        <thead>
          <tr>
            <th>
              Date
              <!-- <nz-filter-trigger [nzVisible]="isVisibleChercheDate" [nzDropdownMenu]="menuDate">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger> -->
            </th>
            <th>
              N° Vente
              <!-- <nz-filter-trigger [nzDropdownMenu]="menuRef">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger> -->
            </th>
            <th>
              Client
              <!-- <nz-filter-trigger [nzDropdownMenu]="menuClient">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger> -->
            </th>
            <th>
              Commerciale
              <!-- <nz-filter-trigger [nzDropdownMenu]="menuCommerciale">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger> -->
            </th>
            <th>Montant</th>
            <th class="text-center">Mode Paiment</th>
            <th class="text-center">Total Avoir</th>
            <th class="text-center">Avoir</th>
            <th class="text-center">BL</th>
            <th class="text-center">Facture</th>
            <th class="text-center pl-3 pr-3">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.date_vente }}</td>
            <td>{{ data.reference_vente }}</td>
            <td>{{ data.client?.name }}</td>
            <td>{{ data.commercial?.name == 'None' ? 'Non' : data.commercial?.name }}</td>
            <td>{{ data.prix_vente_ttc_with_remise | priceFormat }} DH</td>
            <td class="text-center">
              <nz-tag [nzColor]="'purple'">{{ data.payment_mode?.label }}</nz-tag>
            </td>
            <td class="text-center">{{ data.total_avoirs ? data.total_avoirs : (0 | priceFormat) }} DH</td>
            <td class="text-center">
              <i (click)="gotoAvoir(data)" style="color: red" *ngIf="!data.total_avoirs" class="fa fa-circle"></i>
              <i (click)="gotoAvoir(data)" style="color: green; cursor: pointer" *ngIf="data.total_avoirs"
                class="fa fa-circle"></i>
            </td>
            <td class="text-center">
              <i style="color: red; font-size: 19px" *ngIf="data.is_bl == '0'" class="fal fa-file-check"></i>
              <i style="color: green; font-size: 19px" *ngIf="data.is_bl == '1'" class="fal fa-file-check"></i>
            </td>
            <td class="text-center">
              <i (click)="showModalInfoFacture(data)" style="color: red; font-size: 19px; cursor: pointer"
                *ngIf="data.is_facture < 1 && ROLE_SHOW_FACTURE" class="fal fa-file-check"></i>
              <i (click)="showModalInfoFacture(data)" style="color: green; font-size: 19px; cursor: pointer"
                *ngIf="data.is_facture > 0 && ROLE_SHOW_FACTURE" class="fal fa-file-check"></i>
            </td>

            <td nz-dropdown [nzOverlayClassName]="'drop-down-vente'" nzTrigger="click" [nzDropdownMenu]="menuaction"
              class="text-center ">
              <i style="font-size: 2.25em;" class="fal fa-ellipsis-v my-btn-edit fa-2x"></i>

              <nz-dropdown-menu #menuaction="nzDropdownMenu">
                <div nz-menu class="width-md">
                  <div class="c-green" (click)="goToView(data)" nz-menu-item>
                    <i class="fal fa-eye my-btn-edit mr-2 c-green"></i>
                    Détails Vente
                  </div>
                  <div style="color: #1890ff;" (click)="editVente(data)" *ngIf="ROLE_UPDATE" nz-menu-item>
                    <i *ngIf="ROLE_UPDATE" class="fal fa-pen my-btn-edit mr-2"></i>
                    Modifier Vente
                  </div>



                  <div class="c-print" (click)="exportAsPDF(data)" *ngIf="ROLE_PRINT_BL" nz-menu-item>
                    <i *ngIf="ROLE_PRINT_BL" class="fal fa-print my-btn-edit mr-2 c-print"></i>
                    Imprimer BL
                  </div>
                  <div style="color: #eb2f96" (click)="exportAsPDFOuther(data)" *ngIf="ROLE_SHOW_FACTURE" nz-menu-item>
                    <i *ngIf="ROLE_SHOW_FACTURE" class="fal fa-file-alt my-btn-edit mr-2" style="color: #eb2f96"></i>
                    Imprimer Facture
                  </div>
                  <div style="color: #722ed1" (click)="bonRammasage(data)" nz-menu-item>
                    <i *ngIf="ROLE_SHOW_FACTURE" class="fal fa-file-code my-btn-edit mr-2" style="color: #722ed1"></i>
                    Bon ramassage
                  </div>
                  <div class="c-red" (click)="deleteVente(data)" *ngIf="ROLE_DELETE" nz-menu-item>
                    <i *ngIf="ROLE_DELETE" class="fal fa-trash-alt my-btn-edit mr-2 c-red"></i>
                    Supprimer Vente
                  </div>
                </div>
              </nz-dropdown-menu>

            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-card>

<nz-dropdown-menu #menuRef="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <div style="width: 313px" class="search-box">
      <input placeholder="référence" [(ngModel)]="venteCriteria.referenceLike" nz-input type="text" />
      <div class="pt-2 d-flex justify-content-end">
        <button nz-button nzSize="small" (click)="resetSearch('referenceLike')">Réinitialiser</button>
        <button nz-button nzSize="small" nzType="primary"
          (click)="search('Réference', venteCriteria.referenceLike, 'orange', 'referenceLike')" class="search-button">
          Chercher
        </button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>
<nz-dropdown-menu #menuClient="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <div style="width: 313px" class="search-box">
      <nz-select nzAllowClear nzShowSearch style="width: 100%" [(ngModel)]="venteCriteria.clientId">
        <nz-option *ngFor="let client of listeOfClients" [nzLabel]="client.name" [nzValue]="client.id"> </nz-option>
      </nz-select>
      <div class="pt-2 d-flex justify-content-end">
        <button nz-button nzSize="small" (click)="resetSearch('clientId')">Réinitialiser</button>
        <button nz-button nzSize="small" nzType="primary"
          (click)="search('Client', venteCriteria.clientId, 'green', 'clientId')" class="search-button">
          Chercher
        </button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menuCommerciale="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <div style="width: 313px" class="search-box">
      <nz-select nzAllowClear nzShowSearch style="width: 100%" [(ngModel)]="venteCriteria.commercialeId">
        <nz-option *ngFor="let commerciale of listOfCommerciaux" [nzLabel]="commerciale.name"
          [nzValue]="commerciale.id"> </nz-option>
      </nz-select>
      <div class="pt-2 d-flex justify-content-end">
        <button nz-button nzSize="small" (click)="resetSearch('commercialeId')">Réinitialiser</button>
        <button nz-button nzSize="small" nzType="primary"
          (click)="search('Commerciale', venteCriteria.commercialeId, 'green', 'commercialeId')" class="search-button">
          Chercher
        </button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menuDate="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <div style="width: 313px" class="search-box">
      <nz-range-picker #rangePicker [nzRenderExtraFooter]="extraDate" [(ngModel)]="venteCriteria.date"
        (ngModelChange)="onChange($event)"></nz-range-picker>
      <ng-template #extraDate>
        <div class="text-center">
          <button [nzSize]="'small'" (click)="toDay()" nz-button nzType="primary">aujourd'hui</button>
        </div>
      </ng-template>
      <div class="pt-2 d-flex justify-content-end">
        <button nz-button nzSize="small" (click)="resetSearch('date')">Réinitialiser</button>
        <button nz-button nzSize="small" nzType="primary"
          (click)="search('Date', venteCriteria.date, 'magenta', 'date')" class="search-button">
          Chercher
        </button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>

<nz-modal nzMaskClosable="false" [(nzVisible)]="modalFacture" nzTitle="Imprimer une Facture" (nzOnCancel)="hideModal()"
  (nzOnOk)="handleOk()">
  <div *ngIf="venteSelected?.lignes_vente.length > 0" class="row card-facture">
    <div class="col-md-6">
      <nz-card style="background: #f5f5f5">
        <!-- <label style="color: gray;"> </label> -->
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <nz-form-item class="mb-0">
              <nz-form-label [nzSpan]="8" nzFor="date">N°Facture </nz-form-label>
              <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16"> {{ venteSelected?.ref_facture }}
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <nz-form-item class="mb-0">
              <nz-form-label [nzSpan]="8" nzFor="date">Date </nz-form-label>
              <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
                <nz-date-picker [(ngModel)]="venteSelected.date_vente"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-card>
    </div>
    <div class="col-md-6">
      <nz-card style="background: #f5f5f5">
        <!-- <label style="color: gray;">Destinataire </label> -->
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <nz-form-item class="mb-0">
              <nz-form-label [nzSpan]="8" nzFor="date">Client </nz-form-label>
              <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
                <input [(ngModel)]="venteSelected.client.name" nz-input />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <nz-form-item class="mb-0">
              <nz-form-label [nzSpan]="8" nzFor="date">Adresse </nz-form-label>
              <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
                <textarea [(ngModel)]="venteSelected.client.addresse" rows="1" nz-input></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-card>
    </div>
    <div class="col-md-6 col-6">
      <label style="font-weight: 600">Liste des articles :</label>
    </div>
    <div class="col-md-4 col-4 ">
      Total : <nz-tag class="ml-2">{{ venteSelected?.prix_vente_ttc_with_remise
        +
        (lignesFactuceForm?.value?.prix_facture_ttc_with_remise ? lignesFactuceForm?.value?.prix_facture_ttc_with_remise
        : 0)
        | priceFormat }} DH
      </nz-tag>
    </div>
    <div class="col-2 col-md-2 text-right">
      <button class="btn-add-article" (click)="addLigneFacture()" [nzSize]="'small'" nz-button>
        Article <i style="font-size: 13px" class="fal fa-plus pl-3"></i>
      </button>
    </div>

    <div class="col-md-12">
      <nz-table [nzTemplateMode]="true" [nzHideOnSinglePage]="true" class="pt-1" nzOuterBordered [nzLoading]="loading"
        [nzSize]="'middle'" #tableArticle [nzData]="venteSelected?.lignes_vente" [nzScroll]="{ x: '800px' }">
        <thead>
          <tr>
            <th>Article</th>
            <th class="text-center">Quantité</th>
            <th class="text-center">P.U</th>
            <th class="text-center">Remise %</th>
            <th class="text-center">Total</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of venteSelected?.lignes_vente; let index = index">
            <tr *ngIf="data.quantite_facture > 0" class="editable-row">
              <td style="width: 30%">{{ data.article?.reference }} {{ data.article?.designation }}</td>
              <td style="width: 5%" class="text-center">
                <div class="editable-cell" *ngIf="editId != index; else editTplQTE">
                  <div class="editable-cell-value-wrap" (click)="startEdit(index, data)">
                    {{ data.quantite_facture }}
                  </div>
                </div>
                <ng-template #editTplQTE>
                  <nz-input-number (nzBlur)="changeQte()" [(ngModel)]="data.quantite_facture" [nzMin]="0" [nzStep]="1">
                  </nz-input-number>
                </ng-template>
              </td>
              <td style="width: 20%" class="text-center">
                <div class="editable-cell" *ngIf="editId != index; else editTplprix_vente">
                  <div class="editable-cell-value-wrap" (click)="startEdit(index, data)">{{ data.prix_vente |
                    priceFormat }} DH</div>
                </div>
                <ng-template #editTplprix_vente>
                  <nz-input-number (nzBlur)="changePrixVente()" [(ngModel)]="data.prix_vente" [nzMin]="0">
                  </nz-input-number>
                </ng-template>
              </td>
              <td style="width: 20%" class="text-center">
                <div class="editable-cell" *ngIf="editId != index; else editTplRemise">
                  <div class="editable-cell-value-wrap" (click)="startEdit(index, data)">{{ data.remise }} %</div>
                </div>
                <ng-template #editTplRemise>
                  <nz-input-number (nzBlur)="changeRemise()" [(ngModel)]="data.remise" [nzMin]="0"> </nz-input-number>
                </ng-template>
              </td>
              <td style="width: 20%" class="text-center">{{ data.total_with_remise | priceFormat }} DH</td>
              <td style="width: 5%" class="text-center">
                <i (click)="removeVentePrint(data)" class="fal fa-trash-alt my-btn-edit mr-2 c-red"></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
    <div class="col-md-12">
      <form [formGroup]="lignesFactuceForm">
        <div formArrayName="lignes_facture">
          <ng-container *ngFor="let ligne_facture of lignesFactuceForm.get('lignes_facture').controls; let i = index">
            <div class="row m-0 " [formGroupName]="i">
              <div class="mr-2" style="width: 20%">
                <nz-select [nzServerSearch]="true" (ngModelChange)="onChangeArticle($event, i)"
                  (nzOnSearch)="getArticles($event, i)" style="width: 100%" nzShowSearch formControlName="article"
                  nzAllowClear>
                  <nz-option nzCustomContent *ngFor="let article of listeOfArticles" [nzValue]="article"
                    [nzLabel]="article.reference">
                    <strong>
                      {{ article.reference }}
                    </strong>
                    {{ article.designation }}
                    <nz-tag>{{ article.marque.label }}</nz-tag>
                    <nz-badge nzStandalone *ngIf="article.quantite" nzShowZero [nzOverflowCount]="article.quantite"
                      [nzCount]="article.quantite" [nzStyle]="{ backgroundColor: 'green' }"></nz-badge>
                    <nz-badge nzStandalone nzShowZero *ngIf="!article.quantite" [nzOverflowCount]="0" [nzCount]="0"
                      [nzStyle]="{ backgroundColor: 'red' }"></nz-badge>
                  </nz-option>
                </nz-select>
              </div>
              <div class="mr-2" style="width: 13%;">
                <nz-input-group style="width: 100%">
                  <nz-input-number style="width: 100%; text-align: center"
                    [ngClass]="{ 'border-qte-error': ligne_facture.value.articleValid == null }" nz-input
                    formControlName="quantite" type="number" [nzMin]="0" (mouseup)="onMouseupQte(i)"
                    (keyup)="onMouseupQte(i)">
                  </nz-input-number>
                </nz-input-group>
                <span *ngIf="ligne_facture.value.articleValid == null" style="color: red; font-size: 11px">
                  Quantité de stock est insuffisant
                </span>
              </div>
              <div class="mr-2" style="width: 17%">
                <nz-input-group style="width: 100%" nzAddOnAfter="DH">
                  <nz-input-number (ngModelChange)="changePriceVente($event, i)" style="width: 100%" nz-input
                    formControlName="prix_vente" type="number" [nzMin]="0">
                  </nz-input-number>
                </nz-input-group>
              </div>
              <div class="mr-2" style="width: 17%">
                <nz-input-group style="width: 100%" nzAddOnAfter="%">
                  <nz-input-number style="width: 100%" (mouseup)="onMouseupRemise(i)" (keyup)="onMouseupRemise(i)"
                    nz-input formControlName="remise" type="number" [nzMin]="0">
                  </nz-input-number>
                </nz-input-group>
              </div>
              <div class="mr-5" style="width: 15%">
                <nz-input-group style="width: 100%" nzAddOnAfter="DH">
                  <nz-input-number [nzDisabled]="true" style="width: 100%" nz-input formControlName="total_with_remise"
                    type="number" [nzMin]="0">
                  </nz-input-number>
                </nz-input-group>

              </div>
              <div style="width: 4%">
                <i style="color: red" (click)="deleteLigneVente(i)" nz-icon nzType="close" class="c-pointer"
                  nzTheme="outline"></i>
              </div>
            </div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="venteSelected?.lignes_vente.length == 0" class="row">
    <div class="col-md-12">
      <nz-result nzStatus="404" nzTitle="Facture" nzSubTitle="Vous avez facturé toutes les articles !">
        <div nz-result-extra>
          <button (click)="showModalInfoFacture(venteSelected)" nz-button nzType="primary">Détails Facture</button>
        </div>
      </nz-result>
    </div>
  </div>
  <div *nzModalFooter>
    <button (click)="hideModal()" nz-button nzType="default">Annuler</button>
    <button *ngIf="venteSelected?.lignes_vente.length > 0 && ROLE_ADD_FACTURE" [nzLoading]="loadingSave"
      (click)="printFacture()" nz-button nzType="primary">
      Imprimer
    </button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="modalInfoFacture" nzTitle="Les factures de la vente" (nzOnCancel)="hideModalInfoFacture()">
  <div *ngIf="facturesVente && facturesVente.length > 0" class="row">
    <div class="col-md-12">
      <nz-table nzOuterBordered [nzSize]="'middle'" #tableFacture [nzData]="facturesVente" [nzScroll]="{ x: '800px' }">
        <thead>
          <tr>
            <th></th>
            <th>Réference</th>
            <th>Client</th>
            <th>Date</th>
            <th class="text-center">Montant</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="tableFacture.data">
            <tr>
              <td [(nzExpand)]="data.expand"></td>
              <td>{{ data.reference }}</td>
              <td>{{ data.client_name }}</td>
              <td>{{ data.date }}</td>
              <td class="text-center">{{ data.prix_total | priceFormat }} DH</td>
              <td class="text-center">
                <i (click)="showFacture(data)" style="cursor: pointer; color: green" class="fal fa-eye"></i>
              </td>
            </tr>
            <tr [nzExpand]="data.expand">
              <nz-table #innerTable [nzData]="data.lignes_facture" nzSize="middle" [nzShowPagination]="false"
                [nzScroll]="{ x: '800px' }">
                <thead>
                  <tr>
                    <th>Article</th>
                    <th class="text-center">Quantite</th>
                    <th class="text-center">Prix . U</th>
                    <th class="text-center">Remise</th>
                    <th class="text-center">Total</th>
                  </tr>
                </thead>
        <tbody>
          <tr *ngFor="let data of innerTable.data">
            <td>{{ data.article?.reference }}</td>
            <td class="text-center">{{ data.quantite_facture }}</td>
            <td class="text-center">{{ data.prix_vente_avec_remise | priceFormat }} DH</td>
            <td class="text-center">{{ data.remise }}</td>
            <td class="text-center">{{ data.total_with_remise | priceFormat }} DH</td>
          </tr>
        </tbody>
      </nz-table>
      </tr>
      </ng-template>
      </tbody>
      </nz-table>
    </div>
  </div>
  <div *ngIf="facturesVente && facturesVente.length == 0" class="row">
    <div class="col-md-12">
      <nz-result nzStatus="404" nzTitle="Facture" nzSubTitle="Aucune facture trouvée !">
        <div nz-result-extra>
          <!-- <button (click)="" nz-button nzType="primary">Facturer votre vente</button> -->
        </div>
      </nz-result>
    </div>
  </div>
  <div *nzModalFooter>
    <button (click)="hideModalInfoFacture()" nz-button nzType="default">Annuler</button>
  </div>
</nz-modal>