<page-header [title]="''"></page-header>
<nz-card [nzBodyStyle]="{ padding: '18px' }" class="mt-5" style="border-radius: 5px" [nzBordered]="true">
  <div class="row d-flex align-items-center">
    <div class="col-md-6 col-6">
      <h4 class="mb-0 title-page">Liste des articles</h4>
    </div>
    <div class="col-md-6 col-6 d-flex justify-content-end">
      <button *ngIf="ROLE_ADD" (click)="openModalAdd()" class="d-flex align-items-center" nz-button nzType="primary">
        Stock <i nz-icon nzType="plus"></i>
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-10 filter-rupture">
      <nz-input-group [nzSize]="'small'" style="width: 100%" [nzAddOnAfter]="searchFamille">
        <nz-select
          (ngModelChange)="getSousFamille($event.id)"
          [nzPlaceHolder]="'Chercher par famille'"
          [(ngModel)]="articleCriteria.famille"
          nzAllowClear
          nzShowSearch
          class="w-20"
        >
          <nz-option *ngFor="let famille of listOfFamille" [nzLabel]="famille.label" [nzValue]="famille"> </nz-option>
        </nz-select>
        <nz-select
          [(ngModel)]="articleCriteria.sous_famille"
          nzAllowClear
          nzShowSearch
          class="w-20"
          [nzPlaceHolder]="'Chercher par sous famille'"
        >
          <nz-option *ngFor="let sous_famille of listOfSousFamille" [nzLabel]="sous_famille.label" [nzValue]="sous_famille"> </nz-option>
        </nz-select>
        <nz-select
          name="multiplemarque"
          id="multiplemarque"
          [nzPlaceHolder]="'Chercher par marque'"
          [(ngModel)]="articleCriteria.marqueIds"
          nzMode="multiple"
          nzAllowClear
          nzShowSearch
          class="w-20"
        >
          <nz-option *ngFor="let marque of listOfMarque" [nzLabel]="marque.label" [nzValue]="marque.id"> </nz-option>
        </nz-select>
        <!-- <span style="width: 20%; display: inline-flex">
          <input placeholder="chercher par Réf-Original" [(ngModel)]="articleCriteria.referencesLike" nz-input type="text" />
        </span> -->
        <span class="w-40" style="display: inline-flex">
          <input
            (keyup)="onKey($event)"
            placeholder="chercher par Réf-Original / Référence  "
            [(ngModel)]="articleCriteria.refOrgAndreferenceLike"
            nz-input
            type="text"
          />
        </span>
      </nz-input-group>
      <ng-template #searchFamille>
        <i style="cursor: pointer" (click)="searchGlobal()" class="fal fa-search bg-purple"></i>
      </ng-template>
    </div>
    <div style="padding-right: 3.5rem !important" class="col-md-2 pt-2 text-right">
      <i (click)="exportData('excel')" style="font-size: 22px; color: green; cursor: pointer" class="fal fa-file-excel mr-2"></i>
      <i (click)="exportData('pdf')" style="font-size: 22px; color: magenta; cursor: pointer" class="fal fa-file-pdf mr-2"></i>
      <!-- <i (click)="printData('pdf')" style="font-size: 22px; color: purple; cursor: pointer" class="fal fa-print"></i> -->
    </div>
  </div>
  <div *ngIf="filterApplyList.length > 0" class="row pt-3 pb-1">
    <div class="col-md-10">
      <span style="font-weight: 600; color: #1890ff" class="pr-3"> <i class="fal fa-filter"></i> Filtres appliqués : </span>
      <nz-tag
        *ngFor="let filter of filterApplyList; let index = index"
        (nzOnClose)="deleteFilter(index, filter)"
        [nzMode]="'closeable'"
        [nzColor]="filter.color"
        >{{ filter.label }} : {{ filter.name ? filter.name : filter.value }}</nz-tag
      >
    </div>
    <div class="col-md-2 text-right">
      <a (click)="deleteAllfilter()" class="pl-0 pr-0" style="color: #e01372; border-bottom: 1px solid" nz-button nzType="link"
        >Supprimer les filters</a
      >
      <i style="color: #e01372" class="fal fa-trash"></i>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-md-12">
      <ng-template #datasize>
        <span class="mr-3">
          Affichage {{ from }} à {{ to }} de <strong>{{ totalArticle }}</strong> articles
        </span>
      </ng-template>

      <nz-table
        [nzShowTotal]="datasize"
        class="pt-1"
        [nzTotal]="totalArticle"
        [nzFrontPagination]="false"
        (nzPageSizeChange)="currentPageDataChange($event)"
        [(nzPageIndex)]="firstArticle"
        [nzPageSizeOptions]="[10, 50, 100]"
        [(nzPageSize)]="maxResults"
        [nzShowPagination]="true"
        nzShowSizeChanger
        nzOuterBordered
        [nzLoading]="loading"
        [nzSize]="'middle'"
        #basicTable
        [nzData]="listOfStock"
        (nzQueryParams)="sort($event)"
        [nzScroll]="{ x: '900px' }"
      >
        <thead>
          <tr>
            <th>
              Réf-Original
              <!-- <nz-filter-trigger [(nzVisible)]="visibleRefOR" [nzDropdownMenu]="menuRefOrginnal">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger> -->
            </th>
            <th [nzSortFn]="true" nzColumnKey="reference" [nzSortFn]="true">
              Réference
              <!-- <nz-filter-trigger [nzDropdownMenu]="menuRef">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger> -->
            </th>
            <!-- <th [nzSortFn]="true" nzColumnKey="sous_famille.label" [nzSortFn]="true">Sous Famille</th> -->
            <th [nzSortFn]="true" nzColumnKey="marque.label" [nzSortFn]="true">
              Marque
              <!-- <nz-filter-trigger [(nzVisible)]="visibleMarque" [nzDropdownMenu]="menu">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger> -->
            </th>
            <th [nzSortFn]="true" nzCustomFilter nzColumnKey="designation" [nzSortFn]="true">
              Désignation
              <nz-filter-trigger [nzDropdownMenu]="menuDesig">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th [nzSortFn]="true" [nzSortFn]="true" nzColumnKey="prix_achat">Prix Vente</th>
            <th class="text-center" [nzSortFn]="true" [nzSortFn]="true" nzColumnKey="quantite">Quantité</th>
            <th [nzSortFn]="true" nzColumnKey="rayon" [nzSortFn]="true">Rayon</th>
            <th nzRight class="text-center pl-3 pr-3">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>
              <nz-tag [nzMode]="'default'">
                {{ data.references[0]?.label }}
              </nz-tag>
            </td>
            <td>{{ data.reference }}</td>
            <!-- <td>{{ data.sous_famille?.label }}</td> -->
            <td>{{ data.marque?.label }}</td>
            <td>{{ data.designation }}</td>
            <td>{{ data.prix_vente | priceFormat }} DH</td>
            <td class="text-center">
              <nz-badge
                *ngIf="data.quantite"
                nzShowZero
                nzStandalone
                [nzOverflowCount]="data.quantite"
                [nzCount]="data.quantite"
                [nzStyle]="{ backgroundColor: '#52c41a' }"
              ></nz-badge>
              <nz-badge
                *ngIf="!data.quantite"
                nzShowZero
                nzStandalone
                [nzOverflowCount]="0"
                [nzCount]="0"
                [nzStyle]="{ backgroundColor: 'red' }"
              ></nz-badge>
              <!-- {{ data.quantite }} -->
            </td>
            <td>{{ data.rayon }}</td>
            <td nzRight class="text-center">
              <i *ngIf="ROLE_DELETE" (click)="deleteStock(data.id)" class="fal fa-trash-alt mr-2 my-btn-delete"></i>
              <i *ngIf="ROLE_UPDATE" (click)="openModalUpdate(data)" class="fal fa-pen my-btn-edit mr-2"></i>
              <i *ngIf="ROLE_HISTORY" (click)="viewHistory(data)" class="fal fa-history my-btn-edit c-green"></i>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-card>

<nz-modal
  [nzMaskClosable]="false"
  [(nzVisible)]="stockModal"
  [nzTitle]="isUpdate == false ? 'Ajouter Stock' : 'Modifier Stock'"
  (nzOnCancel)="closeModalAdd()"
>
  <form [formGroup]="stockForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="Famille">Famille</nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
            <nz-select
              nzAllowClear
              nzShowSearch
              (ngModelChange)="getSousFamille($event)"
              [nzDropdownRender]="renderTemplate"
              style="width: 100%"
              formControlName="famille"
              name="famille"
              id="famille"
            >
              <nz-option *ngFor="let famille of listOfFamille" [nzLabel]="famille.label" [nzValue]="famille.id"> </nz-option>
            </nz-select>
            <ng-template #renderTemplate>
              <nz-divider class="mt-2 mb-2"></nz-divider>
              <div class="row m-0">
                <div class="col-md-10">
                  <input [nzSize]="'small'" type="text" nz-input #inputElement />
                </div>
                <div class="col-md-1">
                  <a class="add-item" (click)="saveFamille(inputElement)">
                    <i nz-icon nzType="plus" class="c-green" nzTheme="outline"></i>
                  </a>
                </div>
              </div>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="sous_famille">Sous Famille </nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
              <nz-select
                nzAllowClear
                nzShowSearch
                style="width: 100%"
                [nzDropdownRender]="renderTemplateSousFamille"
                formControlName="sous_famille"
                name="sous_famille"
                id="sous_famille"
              >
                <nz-option *ngFor="let sous_famille of listOfSousFamille" [nzLabel]="sous_famille.label" [nzValue]="sous_famille.id">
                </nz-option>
              </nz-select>
              <ng-template #renderTemplateSousFamille>
                <nz-divider class="mt-2 mb-2"></nz-divider>
                <div class="row m-0">
                  <div class="col-md-10">
                    <input [nzSize]="'small'" type="text" nz-input #inputElementSousFamille />
                  </div>
                  <div class="col-md-1">
                    <a class="add-item" (click)="savSousFamille(inputElementSousFamille)">
                      <i nz-icon nzType="plus" class="c-green" nzTheme="outline"></i>
                    </a>
                  </div>
                </div>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="designation">Désignation</nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
            <input formControlName="designation" nz-input name="designation" type="text" id="designation" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="marque">Marque</nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
              <nz-select
                nzAllowClear
                nzShowSearch
                style="width: 100%"
                [nzDropdownRender]="renderTemplateMarque"
                formControlName="marque"
                name="marque"
                id="marque"
              >
                <nz-option *ngFor="let marque of listOfMarque" [nzLabel]="marque.label" [nzValue]="marque.id"> </nz-option>
              </nz-select>
              <ng-template #renderTemplateMarque>
                <nz-divider class="mt-2 mb-2"></nz-divider>
                <div class="row m-0">
                  <div class="col-md-10">
                    <input [nzSize]="'small'" type="text" nz-input #inputElementMarque />
                  </div>
                  <div class="col-md-1">
                    <a class="add-item" (click)="saveMarque(inputElementMarque)">
                      <i nz-icon nzType="plus" class="c-green" nzTheme="outline"></i>
                    </a>
                  </div>
                </div>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="reference">Référence </nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
            <input formControlName="reference" nz-input name="reference" type="text" id="reference" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="original_refs">Référence Originale </nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
              <nz-select
                nzMode="multiple"
                nzAllowClear
                (nzOnSearch)="chercheRefOriginal($event)"
                nzShowSearch
                style="width: 100%"
                [nzDropdownRender]="renderTemplateReference"
                formControlName="original_refs"
                name="original_refs"
                [nzServerSearch]="true"
                id="original_refs"
              >
                <nz-option *ngFor="let ref of listOfReference" [nzLabel]="ref.label" [nzValue]="ref.id"> </nz-option>
              </nz-select>
              <ng-template #renderTemplateReference>
                <nz-divider class="mt-2 mb-2"></nz-divider>
                <div class="row m-0">
                  <div class="col-md-10">
                    <input [nzSize]="'small'" type="text" nz-input #inputElementRef />
                  </div>
                  <div class="col-md-1">
                    <a class="add-item" (click)="saveReference(inputElementRef)">
                      <i nz-icon nzType="plus" class="c-green" nzTheme="outline"></i>
                    </a>
                  </div>
                </div>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="quantite">Quantité </nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" *ngIf="!isUpdate" [nzSpan]="16">
            <input [min]="0" formControlName="quantite" nz-input name="quantite" type="number" id="quantite" />
          </nz-form-control>
          <nz-form-control *ngIf="isUpdate" [nzSpan]="4">
            <input
              (mouseup)="changeQuantit($event)"
              (keyup)="changeQuantit($event)"
              [min]="0"
              formControlName="quantite_add"
              nz-input
              name="quantite_add"
              type="number"
              id="quantite_add"
            />
          </nz-form-control>
          <nz-form-control class="text-center" *ngIf="isUpdate" [nzSpan]="2"> + </nz-form-control>
          <nz-form-control *ngIf="isUpdate" [nzSpan]="4">
            <div>
              {{ stockSelected.quantite ? stockSelected.quantite : '0' }}
            </div>
          </nz-form-control>
          <nz-form-control *ngIf="isUpdate" [nzSpan]="4">
            = {{ stockForm.value.quantite ? stockForm.value.quantite : '0' }}
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="quantite_min">Quantité Minimale </nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input [min]="0" formControlName="quantite_min" nz-input name="quantite_min" type="number" id="quantite_min" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item *ngIf="stockForm.value.quantite_add == 0 || !stockForm.value.quantite_add">
          <nz-form-label [nzSpan]="8" nzFor="prix_achat">Prix Achat</nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
            <nz-input-group nzAddOnAfter="DH">
              <input [min]="0" formControlName="prix_achat" nz-input name="prix_achat" type="number" id="prix_achat" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="div-price-avg" *ngIf="isUpdate && stockForm.value.quantite_add > 0">
          <nz-form-label [nzSpan]="16" nzFor="prix_achat">Prix Achat Ancient stock</nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="8">
            {{ stockSelected.prix_achat ? stockSelected.prix_achat : 0 }} DH
          </nz-form-control>
          <br />
          <nz-form-label [nzSpan]="16" nzFor="prix_achat">Prix Achat nouveau stock </nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="8">
            <nz-input-group nzAddOnAfter="DH">
              <input
                [min]="0"
                (mouseup)="calculAveragePrice($event)"
                (keyup)="calculAveragePrice($event)"
                formControlName="prix_achat_new"
                nz-input
                name="prix_achat_new"
                type="number"
                id="prix_achat_new"
              />
            </nz-input-group>
          </nz-form-control>
          <br />
          <nz-form-label [nzSpan]="16" nzFor="prix_achat">Moyenne </nz-form-label>
          <nz-form-control [nzSpan]="8"> {{ stockForm.value.prix_achat | priceFormat }} DH </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="prix_vente">Prix Vente </nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
            <nz-input-group nzAddOnAfter="DH">
              <input [min]="0" formControlName="prix_vente" nz-input name="prix_vente" type="number" id="prix_vente" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzErrorTip="Ce champs est obligatoire" nzFor="rayon">Rayon </nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input formControlName="rayon" nz-input name="rayon" type="text" id="rayon" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="code_barre">Code Barre </nz-form-label>
          <nz-form-control nzErrorTip="Ce champs est obligatoire" [nzSpan]="16">
            <input formControlName="code_barre" nz-input name="code_barre" type="text" id="code_barre" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzMd]="12" [nzSm]="24" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="remarques">Remarque </nz-form-label>
          <nz-form-control [nzSpan]="16">
            <textarea
              nz-input
              formControlName="remarques"
              name="remarques"
              id="remarques"
              [nzAutosize]="{ minRows: 2, maxRows: 6 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <div *nzModalFooter>
    <button (click)="closeModalAdd()" nz-button nzType="default">Annuler</button>

    <button *ngIf="!isUpdate" (click)="saveStock()" nz-button nzType="primary">Enregistrer</button>
    <button *ngIf="isUpdate" (click)="saveStock()" nz-button nzType="primary">Modifier</button>
  </div>
</nz-modal>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <div style="width: 313px" class="search-box">
      <nz-select
        *ngIf="visibleMarque"
        name="multiplemarque"
        id="multiplemarque"
        placeholder="Selectionner"
        [(ngModel)]="articleCriteria.marqueIds"
        nzMode="multiple"
        nzAllowClear
        nzShowSearch
        style="width: 100%"
      >
        <nz-option *ngFor="let marque of listOfMarque" [nzLabel]="marque.label" [nzValue]="marque.id"> </nz-option>
      </nz-select>
      <div class="pt-2 d-flex justify-content-end">
        <button nz-button nzSize="small" (click)="resetSearch('marqueIds')">Réinitialiser</button>
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="search('Marque', articleCriteria.marqueIds, 'purple', 'marqueIds')"
          class="search-button"
        >
          Chercher
        </button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menuDesig="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <div style="width: 313px" class="search-box">
      <input placeholder="désignation" [(ngModel)]="articleCriteria.designationLike" nz-input type="text" />
      <div class="pt-2 d-flex justify-content-end">
        <button nz-button nzSize="small" (click)="resetSearch('designationLike')">Réinitialiser</button>
        <button nz-button nzSize="small" nzType="primary" (click)="searchGlobal()" class="search-button">Chercher</button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menuRef="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <div style="width: 313px" class="search-box">
      <input placeholder="référence" [(ngModel)]="articleCriteria.referenceLike" nz-input type="text" />
      <div class="pt-2 d-flex justify-content-end">
        <button nz-button nzSize="small" (click)="resetSearch('referenceLike')">Réinitialiser</button>
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="search('Référence', articleCriteria.referenceLike, 'green', 'referenceLike')"
          class="search-button"
        >
          Chercher
        </button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #menuRefOrginnal="nzDropdownMenu">
  <div class="ant-table-filter-dropdown p-2">
    <div style="width: 313px" class="search-box">
      <input placeholder="référence" [(ngModel)]="articleCriteria.referencesLike" nz-input type="text" />
      <!-- <nz-select
        *ngIf="visibleRefOR"
        name="multiplereferencesIds"
        id="multiplereferencesIds"
        nzMode="multiple"
        nzAllowClear
        nzShowSearch
        style="width: 100%"
        [(ngModel)]="articleCriteria.referencesIds"
      >
        <nz-option *ngFor="let ref of listOfReference" [nzLabel]="ref.label" [nzValue]="ref.id"> </nz-option>
      </nz-select> -->
      <div class="pt-2 d-flex justify-content-end">
        <button nz-button nzSize="small" (click)="resetSearch('referencesLike')">Réinitialiser</button>
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="search('Réf-Original', articleCriteria.referencesLike, 'magenta', 'referencesLike')"
          class="search-button"
        >
          Chercher
        </button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>

<nz-modal [nzMaskClosable]="false" [(nzVisible)]="historyModal" [nzTitle]="titleHistory" (nzOnCancel)="hideModalHistory()">
  <ng-template #titleHistory>
    <span>
      Historique de produit <nz-tag class="ml-3"> {{ produitSelected?.reference }} &nbsp; {{ produitSelected?.designation }} </nz-tag>
    </span>
  </ng-template>
  <form [formGroup]="historyForm">
    <div class="row">
      <div class="col-md-6 pb-2">
        <nz-range-picker
          style="height: 31px !important"
          #rangePicker
          formControlName="date"
          (ngModelChange)="onChange($event)"
        ></nz-range-picker>
      </div>
      <div class="col-md-6 text-right pb-2">
        <nz-radio-group class="ml-2">
          <label
            [ngClass]="{ 'btn-active-history': historyForm.value.isVente == true ? true : false }"
            (click)="searchHistory('vente')"
            nz-radio-button
            nzValue="smccall"
            >Ventes</label
          >
          <label
            [ngClass]="{ 'btn-active-history': historyForm.value.isAchat == true ? true : false }"
            (click)="searchHistory('achat')"
            nz-radio-button
            nzValue="small"
            >Achats</label
          >
          <label
            [ngClass]="{ 'btn-active-history': historyForm.value.isAvoir == true ? true : false }"
            (click)="searchHistory('avoir')"
            nz-radio-button
            nzValue="default"
            >Avoirs</label
          >
        </nz-radio-group>
      </div>
    </div>
    <hr />
    <div style="height: 400px; overflow-y: auto" class="row pt-2">
      <div class="col-md-12">
        <div class="row ml-4">
          <div class="col-md-12">
            <nz-spin [ngClass]="{ 'pt-5': isSpinning == true ? true : false }" [nzSpinning]="isSpinning" [nzDelay]="500">
              <nz-timeline *ngIf="listHistoryOfarticle && listHistoryOfarticle.length > 0 && !isSpinning">
                <ng-container *ngFor="let item of listHistoryOfarticle">
                  <nz-timeline-item [nzDot]="icontime">
                    <div class="ml-4 p-2" style="width: 95%; border: 1px solid #d9d9d9; border-radius: 4px">
                      <div>
                        <span class="pr-2" style="border-right: 1px solid #d9d9d9">
                          {{ item.date }}
                        </span>
                        <span class="ml-2 pr-2" style="border-right: 1px solid #d9d9d9">Réference : {{ item.reference }}</span>
                        <span class="ml-2 pr-2" style="border-right: 1px solid #d9d9d9">Quantité : {{ item.quantite }}</span>
                        <span *ngIf="item.type != 'achat'" class="ml-2"> Client : {{ item.client }}</span>
                        <span *ngIf="item.type == 'achat'" class="ml-2"> Fournisseur : {{ item.fournisseur }}</span>
                        <span style="float: right">
                          Total :
                          <button
                            [nzSize]="'small'"
                            nz-button
                            style="background-color: green; color: #fff; border-color: green; border-radius: 17px"
                          >
                            {{ item.prix | priceFormat }} DH
                          </button>
                        </span>
                      </div>
                    </div>
                  </nz-timeline-item>
                  <ng-template #icontime>
                    <div>
                      <nz-tag *ngIf="item.type == 'achat'" [nzColor]="'purple'">Achat</nz-tag>
                      <nz-tag *ngIf="item.type == 'vente'" [nzColor]="'green'">Vente</nz-tag>
                      <nz-tag *ngIf="item.type == 'avoir'" [nzColor]="'red'">Avoir</nz-tag>
                    </div>
                    <!-- <div>
                      {{item.date}}
                    </div> -->
                  </ng-template>
                </ng-container>
              </nz-timeline>
              <nz-empty *ngIf="(!listHistoryOfarticle || (listHistoryOfarticle && listHistoryOfarticle.length == 0)) && !isSpinning">
              </nz-empty>
            </nz-spin>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div *nzModalFooter>
    <button (click)="hideModalHistory()" nz-button nzType="default">Annuler</button>
  </div>
</nz-modal>
